# Set the real value in Vercel Project Settings > Environment Variables.
# Never commit a real API key.
AXZYEDEV_API_KEY=AzaGanteng-YgvhihTtGxjRBrkD0Uld7habD3D1A82Q
VERCEL_TOKEN=vcp_1ARqtfjRaCkZbVWMytd9uZ1euTeaKKi7CNqpAJUR5tgVzVJGPx2dBTCB
